<h1>Sensors</h1>
<mat-tab-group>
  <mat-tab *ngFor="let sensor of sensors" [label]="sensor.id.toString()">
    <app-tab-content-sensor [sensor]="sensor"></app-tab-content-sensor>
  </mat-tab>
</mat-tab-group>

