<div>
  <div>
    <p>ID:{{sensor.id}}</p>
    <p>Fish Farm:{{sensor.fishFarmId}}</p>
    <p>Type: {{sensor.type}}</p>
    <p>Value:{{sensor.value}}</p>
  </div>
  <div>
    <app-plot [xValues]="x" [yValues]="y"></app-plot>
  </div>
</div>
